.dn_thum_youtube_video_hide, .dn_thum_youtube_video_show{
    display: inline-block;
    position: relative;
    overflow:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.dn_thum_youtube_video_hide:hover {
    opacity: 0.8;
    cursor:pointer;
}

.dn_thum_youtube_video_hide iframe{
    display: none;
}

.dn_thum_youtube_video_show span{
    display: none;
}

.dn_thum_youtube_video_title{
    display: block;
    margin: 0;
    line-height: calc(1em + 5px);
    padding: 5px 0 25px 10px;
    color: #ffffff;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}

.dn_thum_youtube_video_title a {
    color: #fff;
    text-decoration: underline;
}

.dn_thum_youtube_video_title a:hover {
    text-decoration: none;
}

.dn_thum_youtube_video_clickplay {
    display: block;
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 32px);
    background-image: url("../images/youtube_social_icon_dark.png");
    width: 64px;
    height: 45px;
    opacity:0.8;
}

.dn_thum_youtube_video_hide:hover .dn_thum_youtube_video_clickplay{
    background-image:url("../images/youtube_social_icon_red.png");
    opacity:1.0;
}
